<test>
    <c-button test="default"></c-button>
    <c-button test="text">Home</c-button>
    <c-button icon="Home">Home</c-button>
    <c-button outlined="true">Home</c-button>
    <c-button primary="true"></c-button>
    <c-button secondary="true"></c-button>
    <c-button tertiary="true"></c-button>
    <c-button smallround="true"></c-button>
    <c-button fill="true"></c-button>
    <c-button transparent="true"></c-button>
    <c-button small="true"></c-button>
    <c-button medium="true"></c-button>
    <c-button large="true"></c-button>
    <c-button extra="true"></c-button>
    <c-button responsive="true"></c-button>
    <c-button circle="true"></c-button>
    <c-button square="true"></c-button>
    <c-button leftround="true"></c-button>
    <c-button rightround="true"></c-button>
    <c-button topround="true"></c-button>
    <c-button bottomround="true"></c-button>
    <c-button vertical="true"></c-button>
    <c-button extend="true" circle="true">Home</c-button>
    <c-button smallelevate="true"></c-button>
    <c-button mediumelevate="true"></c-button>
    <c-button largeelevate="true"></c-button>
    <c-button class="custom-class"></c-button>
    <c-button test="class-mixed" class="custom-class" small="true" fill="true"></c-button>
    <c-button test="img" img="./favicon.png"></c-button>
    <c-button test="img-inline" img="./favicon.png" inline="true"></c-button>
    <c-button test="props-mixed" icon="edit" primary="true" outlined="true" smallelevate="true" large="true">Edit</c-button>

    <script>
        import cButton from "../components/c-button.riot"

        export default {
           components: {
                cButton
           }
        }
    </script>
</test>