<test>
    <c-button test="default"></c-button>
    <c-button test="text">Home</c-button>
    <c-button test="3" icon="Home">Home</c-button>
    <c-button test="4" outlined="true">Home</c-button>
    <c-button test="5" primary="true"></c-button>
    <c-button test="6" secondary="true"></c-button>
    <c-button test="7" tertiary="true"></c-button>
    <c-button test="8" smallround="true" ></c-button>
    <c-button test="9" fill="true" ></c-button>
    <c-button test="10" transparent="true" ></c-button>
    <c-button test="11" small="true" ></c-button>
    <c-button test="12" medium="true" ></c-button>
    <c-button test="13" large="true" ></c-button>
    <c-button test="14" extra="true" ></c-button>
    <c-button test="15" responsive="true" ></c-button>
    <c-button test="16" circle="true" ></c-button>
    <c-button test="17" square="true" ></c-button>
    <c-button test="18" leftround="true" ></c-button>
    <c-button test="19" rightround="true" ></c-button>
    <c-button test="20" topround="true" ></c-button>
    <c-button test="21" bottomround="true" ></c-button>
    <c-button test="22" vertical="true" ></c-button>
    <c-button test="23" extend="true" circle="true">Home</c-button>
    <c-button test="24" smallelevate="true"></c-button>
    <c-button test="25" mediumelevate="true"></c-button>
    <c-button test="26" largeelevate="true"></c-button>
    <c-button test="class" class="custom-class"></c-button>
    <c-button test="class-mixed" class="custom-class" small="true" fill="true"></c-button>
    <c-button test="img" img="./favicon.png"></c-button>
    <c-button test="img-inline" img="./favicon.png" inline="true"></c-button>

    <script>
        import cButton from "../components/c-button.riot"

        export default {
           components: {
                cButton
           }
        }
    </script>
</test>