<c-badge class="
            badge
            { props?.inline ? ' none' : '' }
            { props?.min ? ' min' : '' }
            { props?.primary ? ' primary' : '' }
            { props?.secondary ? ' secondary' : '' }
            { props?.tertiary ? ' tertiary' : '' }
            { props?.top ? ' top' : '' }
            { props?.left ? ' left' : '' }
            { props?.bottom ? ' bottom' : '' }
            { props?.right ? ' right' : '' }
        ">
    <slot></slot>
</c-badge>