<c-icon>
    <i class="
        { props?.tiny ? ' tiny' : null}
        { props?.small ? ' small' : null}
        { props?.large ? ' large' : null}
        { props?.extra ? ' extra' : null}
        
        { props?.fill ? ' fill' : null}

        { props?.primary ? ' primary-text' : null}
        { props?.secondary ? ' secondary-text' : null}
        { props?.tertiary ? ' tertiary-text' : null}
    ">
        <slot></slot>
    </i>
</c-icon>