<c-radio-group class="field middle-align">
    <nav>
        <slot checked={ state.value }></slot>
    </nav>
    <span class="helper" if={ props?.helper && !props?.error }>{ props.helper} </span>
    <span class="error" if={ props?.error }>{ props.error}</span>
</c-radio-group>