<section-badges>
    <h6> Badges </h6>
    <script>
        import cBadge from "../../components/c-badge.riot"

        export default {
            components: {
                cBadge
            },
        }
    </script>
</section-badges>