<s-badges>
    <h4 id="badges"> Badges </h4>
    <div class="large-space"></div>
    <script>
        import cBadge from "../../components/c-badge.riot"

        export default {
            components: {
                cBadge
            },
        }
    </script>
</s-badges>