<s-icons>
    <h4 id="icons"> Icons </h4>
    <div class="large-space"></div>
    <script>
        // import cIcon from "../../components/c-icon.riot"

        export default {
            // components: {
            //     cIcons
            // },
        }
    </script>
</s-icons>