<s-radios>
    <h4 id="radios">Radios</h4>
    <div class="large-space"></div>
    <script>
        // import cRadio from "../../components/c-radio.riot"

        export default {
            // components: {
            //     cRadios
            // },
        }
    </script>
</s-radios>