<index-riot>
    <div style="width:400px;padding:40px;">
        <c-welcome-card />
        <c-form />
    </div>
    <script>
        
        import cForm from "./c-form.riot"
        import cWelcomeCard from "./c-welcome-card.riot"
    
        export default {
            components: {
                cForm,
                cWelcomeCard
            }
        }
    </script>
</index-riot>
